
/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

	body
	{
		background-color: #AAA;
		font: 12px/30px Georgia, serif;
	}
		
	/*
	I'll use a tablet as base design and I'll change sizes and positions based on windows size
	and  I'll use a base resolution of 1024 x 768 which is the resolution of the ipad
	*/

	
	#base
	{
		position: absolute;
		top: 7%;
		left: 7%;
		width: 700px;
		height: 450px;
		background-color: white;
	}
	
	#mainPanel
	{
		border: 1px dotted blue;
		width:400px;
		height: 200px;
	}

	a, a:active, a:hover
	{
		color: red;
		text-decoration: none;
	}
	
	.logo
	{
		padding: 0px 0px 0px 10px;
		border: 1px dotted transparent;
		width: 350px;
	}
	
	/* menu de navegacion */
	.navMenu
	{
		margin: 0px 0px 0px 60px;
		padding: 0px 0px 0px 10px;
		border: 1px dotted transparent;
		width: 350px;
	}
	.navMenu table, .navMenu td
	{
		border: 1 solid transparent;
	}
	.navMenu span
	{
		padding: 10px 10px 10px 10px;
		font: 12px Georgia, serif;
		font-weight: bold;
		font-size: medium;
		font-style: oblique;
		cursor: hand;
	}
	.navMenuNode
	{
		color: #AAA;
	}
	.navMenuNodeOnOver
	{
		color: RED;
	}
	
	.header
	{
		border: 1px dotted transparent;
		position: absolute;
		text-align: right;
		left: 370px;
		top: 0px;
		width: 250px;
		height: 99px;
		font: italic bold 28px Georgia, serif;
		line-height: 1.5em;
		margin-top: 20px;
		/* font: italic bold 12px/30px Georgia, serif; */
	}

	.content .headerMessage
	{
		border: 1px dotted transparent;
		text-align: center;
		margin-top: 0px;
		margin-left: 40px;
		width: 270px;
		letter-spacing: 0.15em;
		visibility: hidden;
		font: italic bold 14px Georgia, serif;
	}
	
	.content .body
	{
		border: 1px dotted transparent;
		height: 240px;
		width: 600px;
	}

	/* access.html */
	.content .body .login
	{
		width: 180px;
		height: 100px;
		padding: 30px 0px 0px 100px;
		margin: 20px 0px 0px 20px;
	}
	
	.content .body .login input
	{
		border: 1 solid #AAA;
	}
	
	.content .body .login td
	{
		text-align: center;
		padding-top: 5px;
	}
	
	.content .body .login span
	{
		font: italic bold 12px Georgia, serif;
	}
	
	/* menu.html */
	.content .body .menu
	{
		width: 180px;
		height: 100px;
		padding: 30px 0px 0px 130px;
		margin: 0px 0px 0px 20px;
	}

	.content .body .menu td
	{
		text-align: center;
		padding-top: 15px;
	}
	
	.content .body .menu span a,
	.content .body .menu span a:active,
	.content .body .menu span a:hover
	{
		font: italic bold 14px Georgia, serif;
		color:black;
	}
	
	/* profile.html */
	.content .body .profile
	{
		width: 180px;
		height: 100px;
		padding: 40px 0px 0px 50px;
		margin: 0px 0px 0px 20px;
	}
	
	.content .body .profile td
	{
		text-align: left;
		padding-top: 10px;
	}
	
	.content .profile td
	{
		font: italic bold 12px Georgia, serif;
	}
	
	.content .profile .category
	{
		color: gray;
	}
	
	/* maps */
	.content .body .map
	{
		border: 1 solid transparent;
		background-color: black;
		width: 320px;
		height: 100px;
		padding: 0px 10px 0px 10px;
		margin: 0px 0px 0px 20px;
	}
	
	/* tips.html */
	.content .body .tips
	{
		border: 1 solid transparent;
		width: 320px;
		height: 120px;
		padding: 5px 10px 0px 10px;
		margin: 0px 0px 0px 20px;
		overflow: scroll;
	}
	
	.content .body .tips td
	{
		text-align: center;
		padding-top: 10px;
		font: italic bold 12px Georgia, serif;
	}
	
	.content .body .tips td .tipTitle
	{
		color: red;
	}
	.content .body .tips td .tipUser
	{
		color: black;
		font: italic bold 12px Georgia, serif;
	}
	
	.content .body .tips .tip
	{
		background-color: #DDD;
	}
	.content .body .tips .tipOnOver
	{
		background-color: #AAA;
	}
	.content .body .tips .tipOnClick
	{
		background-color: #66D;
	}
		
	/* events.html */
	.content .body .events
	{
		border: 1 solid transparent;
		width: 320px;
		height: 120px;
		padding: 5px 10px 0px 10px;
		margin: 0px 0px 0px 20px;
		overflow: scroll;
	}
	.content .body .events td
	{
		text-align: center;
		padding-top: 10px;
		font: italic none 12px Georgia, serif;
	}
	.content .body .events td .eventTitle
	{
		font-weight: bold;
		color: red;
	}
	.content .body .events td .eventUser
	{
		font-weight: bold;
	}
	.content .body .events .event
	{
		background-color: #DDD;
	}
	.content .body .events .eventOnOver
	{
		background-color: #AAA;
	}
	.content .body .events .eventOnClick
	{
		background-color: #66D;
	}
	
	/* message.html */
	.content .body .messages
	{
		border: 1 solid transparent;
		width: 320px;
		height: 220px;
		padding: 5px 10px 0px 10px;
		margin: 0px 0px 0px 20px;
		overflow: auto;
	}
	.content .body .messages td
	{
		text-align: left;
		/* padding-top: 10px; */
		padding: 10px 10px 10px 10px;
		font: italic none 12px Georgia, serif;
	}
	.content .body .messages td .messageUser
	{
		font-weight: bold;
		font-size: medium;
		font-style:italic;
		color: blue;
	}
	.content .body .messages td .messageBody
	{
		font-weight: normal;
	}
	.content .body .messages td .messageTime
	{
		font-weight: bold;
		font-size: x-small;
		font-style:italic;
		color: blue;
	}
	.content .body .messages .message
	{
		background-color: #FFF;
	}
	.content .body .messages .messageOnOver
	{
		background-color: #AAA;
	}
	.content .body .messages .messageOnClick
	{
		background-color: #66D;
	}
	
	
	
	.sidebar
	{
		border: 1px dotted transparent;
		position: absolute;
		text-align: center;
		left: 405px;
		top: 180px;
		width: 220px;
		color: #AAA;
		font: italic bold 14px Georgia, serif;
		letter-spacing: 0.15em;
		line-height: 1.5em;
		margin-top: 20px;
	}

	.footer
	{
		border: 1px dotted transparent;
		text-align: center;
		top: 602px;
		left: 2px;
		height: 100px;
		width: 650px;
		font: italic bold 9px Georgia, serif;
	}



/* ============================= */
/* ! Layout for mobile version   */
/* ============================= 

@media handheld, only screen and (max-width: 767px)
{

	body {
		
	}

	.logo
	{
		position: absolute;
		top: 2px;
		left: 2px;
		height: 100px;
		width: 350px;
		background-color: red;
		border: 1px dotted red;
	}

	.header
	{
		position: absolute;
		top: 102px;
		left: 2px;
		height: 100px;
		width: 550px;
		background-color: blue;
		border: 1px dotted red;
	}

	.body
	{
		position: absolute;
		top: 202px;
		left: 2px;
		height: 500px;
		width: 600px;
		background-color: green;
		border: 1px dotted red;
	}

	.sidebar
	{
		position: absolute;
		top: 702px;
		left: 2px;
		height: 500px;
		width: 400px;
		background-color: yellow;
		border: 1px dotted red;
	}

	.footer
	{
		position: absolute;
		top: 1202px;
		left: 2px;
		height: 100px;
		width: 650px;
		background-color: orange;
		border: 1px dotted red;
	}

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   (640 x 960) */
/* ========================================== 

@media only screen and (-webkit-min-device-pixel-ratio: 2)
{ 

	body {
		
	}

	.logo
	{
		position: absolute;
		top: 2px;
		left: 2px;
		height: 100px;
		width: 350px;
		background-color: red;
		border: 1px dotted red;
	}

	.header
	{
		position: absolute;
		top: 102px;
		left: 2px;
		height: 100px;
		width: 550px;
		background-color: blue;
		border: 1px dotted red;
	}

	.body
	{
		position: absolute;
		top: 202px;
		left: 2px;
		height: 500px;
		width: 600px;
		background-color: green;
		border: 1px dotted red;
	}

	.sidebar
	{
		position: absolute;
		top: 702px;
		left: 2px;
		height: 500px;
		width: 400px;
		background-color: yellow;
		border: 1px dotted red;
	}

	.footer
	{
		position: absolute;
		top: 1202px;
		left: 2px;
		height: 100px;
		width: 650px;
		background-color: orange;
		border: 1px dotted red;
	}


}