
/* ============================== */
/* ! Layout for iphone version   */
/* ============================== */

	body
	{
		background-color: #000;
		font: 12px/30px Georgia, serif;
	}
	#base
	{
		position: absolute;
		top: 10px;
		left: 10px;
		width: 360px;
		height: 450px;
		background-color: white;
	}
	#mainPanel
	{
		border: 1px dotted blue;
		width:400px;
		height: 200px;
	}
	a, a:active, a:hover
	{
		color: red;
		text-decoration: none;
	}
	.logo
	{
		border: 1px dotted transparent;
		width: 100%;
		text-align: center;
	}
	.logo img
	{
		width: 200px;
		align: center;
	}
	.header
	{
		visibility: hidden;
		clip: rect(0,0,0,0);
		border: 1px dotted transparent;
		position: absolute;
		text-align: right;
		left: 370px;
		top: 0px;
		width: 250px;
		height: 99px;
		font: italic bold 28px Georgia, serif;
		line-height: 1.5em;
		margin-top: 20px;
		/* font: italic bold 12px/30px Georgia, serif; */
	}
	.content .body
	{
		border: 1px dotted transparent;
		height: 340px;
		width: 100%;
	}
	.sidebar
	{
		border: 1px dotted transparent;
		position: absolute;
		text-align: center;
		left: 405px;
		top: 180px;
		width: 220px;
		color: #AAA;
		font: italic bold 14px Georgia, serif;
		letter-spacing: 0.15em;
		line-height: 1.5em;
		margin-top: 20px;
	}

	.footer
	{
		border: 1px dotted transparent;
		text-align: center;
		width: 100%;
		font: italic bold 9px Georgia, serif;
	}
	
	.gmapcanvas
	{
		border: 1px solid black;
		visibility: visible;
		width: 99%;
	}
	
	/* login control */
	.content .body .loginControl /* this is the table where the components are placed in*/
	{
		width: 100%;
		border: 1px dotted transparent;
		padding: 30px 0 0 0;
	}
	.content .body .loginControl td /* each cell in the parent table */
	{
		width: 100%;
		text-align:center;
		letter-spacing: 0.15em;
		font: italic bold 18px Georgia, serif;
		color: gray;
		padding: 10px 10px 10px 10px;
	}
	.content .body .loginControl td  input:not([type=checkbox]) /* the input controls */
	{
		font: italic bold 18px Georgia, serif;
		color: gray;
		width: 120px;
		height: 20px;
		margin: 10px 0 0 0;
		text-align: center;
	}
	
	/* locating control */
	.content .body .locatingControl /* this is the base div */
	{
		width: 100%;
		text-align:center;
		letter-spacing: 0.15em;
		line-height: 5em;
		font: italic bold 21px Georgia, serif;
		color: gray;
		border: 1px dotted red;
		padding: 50px 30px 0px 30px;
	}
	
	.content .body .locatingControl span /* the name span */
	{
		color: black;
	}
	
	.content .body .locatingControl td /* this is for the cells */
	{
		height: 30px;
	}
	.content .body .locatingControl img /* this is for progress image */
	{
		padding: 30px 0 0 0;
	}

	/* locatedControl */
	.content .body .locatedControl /* the main table */
	{
		border: 1px solid red;
		width: 100%;
		border-collapse: collapse;
	}

	.content .body .locatedControl td/* the main table */
	{
		border: 1px solid transparent;
		text-align: center;
	}
	
	.content .body .locatedControl
	{
		font: italic bold 14px Georgia, serif;
		color: gray;
		text-align: center;
	}
	.content .body .locatedControl select
	{
		font: italic bold 14px Georgia, serif;
	}
	.content .body .locatedControl .gmapcanvas
	{
		height: 250px;
		margin: 10px 0 12px 0;
	}

	