/*
-- Paleta de colores
- azul: #0060af - 00-60-175 / #4926BC - 49-26-188
- rojo: #c7232c - 199-23-44 / #F94119 - 249-41-19
- gris fuerte: #b2b2b2 - 178-178-178
- gris claro: #e1e1e1 - 225-225-225
*/


/* ============================== */
/* ! Layout for iphone version   */
/* ============================== */

	body
	{
		background-color: #000;
		font: 12px/30px Gill Sans, Verdana;
	}
	#base
	{
		position: absolute;
		top: 10px;
		left: 10px;
		width: 360px;
		height: 450px;
		background-color: #FFF;
	}
	#mainPanel
	{
		border: 1px dotted #4926BC;
		width:400px;
		height: 200px;
	}
	a, a:active, a:hover, .link
	{
		color: #F94119;
		text-decoration: underline;
		font-weight: bold;
		cursor: pointer;
	}
	.logo
	{
		border: 1px dotted transparent;
		width: 100%;
		text-align: center;
	}
	.logo img
	{
		width: 280px;
		align: center;
	}
	.header
	{
		visibility: hidden;
		clip: rect(0,0,0,0);
		border: 1px dotted transparent;
		position: absolute;
		text-align: right;
		left: 370px;
		top: 0px;
		width: 250px;
		height: 99px;
		font: 28px Gill Sans, Verdana;
		line-height: 1.5em;
		margin-top: 20px;
		/* font: italic bold 12px/30px Gill Sans, Verdana; */
	}
	.content .body
	{
		border: 1px dotted transparent;
		height: 320px;
		width: 100%;
	}
	.sidebar
	{
		border: 1px dotted transparent;
		position: absolute;
		text-align: center;
		left: 405px;
		top: 180px;
		width: 220px;
		color: #AAA;
		font: 14px Gill Sans, Verdana;
		letter-spacing: 0.15em;
		line-height: 1.5em;
		margin-top: 20px;
	}

	.footer
	{
		border: 1px dotted transparent;
		text-align: center;
		width: 100%;
		font: 9px Gill Sans, Verdana;
		font-weight: bold;
	}
	
	.gmapcanvas
	{
		border: 1px solid black;
		visibility: visible;
		width: 99%;
	}
	.gmapcanvashidden
	{
		visibility: hidden;
		clip: rect(0px 0px 0px 0px);
	}
	
	/* login control */
	.content .body .loginControl /* this is the table where the components are placed in*/
	{
		width: 100%;
		border: 1px solid transparent;
		padding: 30px 0 0 0;
	}
	.content .body .loginControl td /* each cell in the parent table */
	{
		border: 1px solid transparent;
		width: 100%;
		text-align:center;
		letter-spacing: 0.15em;
		font: 18px Gill Sans, Verdana;
		color: #555555;
		padding: 7px;
	}
	.content .body .loginControl td .Rememberme
	{
		cursor: pointer;
	}
	.content .body .loginControl td  input:not([type=checkbox]) /* the input controls */
	{
		font: 18px Gill Sans, Verdana;
		color: #e1e1e1;
		border: 1px solid #555555;
		width: 200px;
		height: 20px;
		margin: 5px 0 0 0;
		text-align: center;
	}
	
	/* locating control */
	.content .body .locatingControl /* this is the base div */
	{
		border: 1px dotted transparent;
		width: 100%;
		text-align:center;
		letter-spacing: 0.15em;
		line-height: 6em;
		font: 21px Gill Sans, Verdana;
		color: gray;
		padding: 30px 30px 0px 30px;
	}
	
	.content .body .locatingControl span /* the name span */
	{
		color: black;
	}
	
	.content .body .locatingControl td /* this is for the cells */
	{
		height: 30px;
	}
	.content .body .locatingControl img /* this is for progress image */
	{
		padding: 30px 0 0 0;
		width: 100px;
	}

	/* locatedControl */
	.content .body .locatedControl /* the main table */
	{
		border: 1px solid #F94119;
		width: 100%;
		border-collapse: collapse;
		font: 14px Gill Sans, Verdana;
		text-align: center;
		font-weight: bold;
	}
	.content .body .locatedControl td/* the table cells */
	{
		border: 1px solid transparent;
		text-align: center;
	}
	.content .body .locatedControl select
	{
		font: 14px Gill Sans, Verdana;
	}
	.content .body .locatedControl .gmapcanvas
	{
		height: 250px;
		margin: 5px 0 12px 0;
	}
	
	/* tipsControl */
	.content .body .tipsControl /* the main table */
	{
		border: 1px solid transparent;
		width: 100%;
		border-collapse: collapse;
		font: 14px Gill Sans, Verdana;
		text-align: center;
		font-weight: bold;
	}
	.content .body .tipsControl .tipsContainer /* the div for the messages*/
	{
		border: 1px solid transparent;
		text-align: center;
		width: 99%;
		height: 260px;
		overflow: auto;
		border-top: 1px solid transparent;
		border-bottom: 1px solid transparent;
		margin-bottom: 9px;
	}
	.content .body .tipsControl .tipsContainer table /* the table inside the div */
	{
		border-collapse: collapse;
	}
	.content .body .tipsControl .tipsContainer td
	{
		border: 1px solid transparent;
		text-align: left;
		border-bottom: 1px solid #e1e1e1;
		color: #b2b2b2;
		font: 9px Gill Sans, Verdana;
		padding: 12px;
		border-collapse: collapse;
	}
	.content .body .tipsControl select
	{
		font: 14px Gill Sans, Verdana;
		text-align: center;	
	}
	.content .body .tipsControl .tip_user
	{
		color: #F94119;
		cursor: pointer;
		font: 14px Gill Sans, Verdana;
	}
	.content .body .tipsControl .tip_place
	{
		color: #4926BC;
		cursor: pointer;
		font: 14px Gill Sans, Verdana;
	}
	.content .body .tipsControl .tip_time
	{
		color: #b2b2b2;
		font: 9px Gill Sans, Verdana;
	}
	.content .body .tipsControl .tip_message
	{
		color: black;
		cursor: pointer;
		font: 14px Gill Sans, Verdana;
		letter-spacing: 0.05em;
		line-height: 1.5em;
	}

	/* tipControl */
	.content .body .tipControl /* the main table */
	{
		
		border: 1px solid transparent;
		width: 100%;
		border-collapse: collapse;
		color: #b2b2b2;
		text-align: center;
		font: 14px Gill Sans, Verdana;
	}
	.content .body .tipControl .tipContainer /* the div for the messages*/
	{
		border: 1px solid transparent;
		text-align: center;
		width: 99%;
		height: 260px;
		overflow: auto;
		margin-top: 27px;
		margin-bottom: 9px;
	}
	.content .body .tipControl .tipContainer table /* the table inside the div */
	{
		border-collapse: collapse;
		border: 1px solid transparent;
	}
	.content .body .tipControl .tipContainer th
	{	
		border-bottom: 1px solid transparent;
		background-color: #EDE;
		cursor: default;
		font: 9px Gill Sans, Verdana;
		padding: 12px;
		text-align: left;
	}
	.content .body .tipControl .tipContainer td
	{
		text-align: left;
		border-bottom: 1px solid #e1e1e1;
		cursor: default;
		font: 9px Gill Sans, Verdana;
		padding: 12px;
	}
	.content .body .tipControl .tipContainer .tip_user /* the table inside the div */
	{
		color: #F94119;
		font: 14px Gill Sans, Verdana;
	}
	.content .body .tipControl .tipContainer .tip_place /* the table inside the div */
	{
		color: #4926BC;
		font: 14px Gill Sans, Verdana;
	}
	.content .body .tipControl .tipContainer .tip_message /* the table inside the div */
	{
		color: black;
		font: 14px Gill Sans, Verdana;
		letter-spacing: 0.05em;
		line-height: 1.5em;
	}
	.content .body .tipControl .tipContainer .tip_time /* the table inside the div */
	{
		padding-left: 2px;
		color: #b2b2b2;
		font: 9px Gill Sans, Verdana;
	}
	
	/* tipJoinControl */
	.content .body .tipJoinControl /* the main table */
	{
		border: 1px solid transparent;
		width: 100%;
		border-collapse: collapse;
		font: 14px Gill Sans, Verdana;
		color: gray;
		text-align: center;
	}
	.content .body .tipJoinControl .tipJoinContainer /* the div for the messages*/
	{
		border: 1px solid transparent;
		text-align: center;
		width: 99%;
		height: 295px;
		overflow: auto;
		border-top: 2px solid black;
		border-bottom: 2px solid black;
	}
	.content .body .tipJoinControl .tipJoinContainer table /* the table inside the div */
	{
		width: 99%;
		border-collapse: collapse;
	}
	.content .body .tipJoinControl .tipJoinContainer td
	{
		width: 99%;
		text-align: left;
		vertical-align: center;
		border-bottom: 0px solid gray;
		color: #4926BC;
		font: 16px Gill Sans, Verdana;
		cursor: default;
	}
	.content .body .tipJoinControl .tipJoinContainer span
	{
		height: 99%;
	}
	.content .body .tipJoinControl .tipJoinContainer .icon
	{
		width: 65px;
		padding-right: 10px;
	}
	.content .body .tipJoinControl .tipJoinContainer img
	{
		vertical-align: center;
		width: 65px;
	}
	
	
	.content .body .ProfileControl /* the main table */
	{
		border: 1px solid transparent;
		width: 100%;
		border-collapse: collapse;
		font: 14px Gill Sans, Verdana;
		color: gray;
		text-align: center;
	}
	.content .body .ProfileControl .ProfileContainer /* the div for the messages*/
	{
		border: 1px solid transparent;
		text-align: center;
		width: 99%;
		height: 295px;
		overflow: auto;
		border-top: 2px solid black;
		border-bottom: 2px solid black;
	}
	.content .body .ProfileControl .ProfileContainer table /* the table inside the div */
	{
		width: 99%;
		border-collapse: collapse;
	}
	.content .body .ProfileControl .ProfileContainer td
	{
		width: 99%;
		text-align: center;
		border-bottom: 0px solid gray;
		color: gray;
		font: 16px Gill Sans, Verdana;
		cursor: default;
		padding: 5px;
	}
	.content .body .ProfileControl .ProfileContainer .name
	{
		color: black;
	}
	.content .body .ProfileControl .ProfileContainer img
	{
		border: 1px solid black;
	}
