<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<log4net>
		<appender name="defaultAppender" type="log4net.Appender.RollingFileAppender">
			<file value="C:\Ppamo\menu\svn\BlooCru\web\demo\service\Log\" />
			<appendToFile value="true" />
			<maxSizeRollBackups value="10" />
			<datePattern value="yyyy.MM.dd'.log'" />
			<rollingStyle value="Date" />
			<param name="StaticLogFileName" value="false" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date - %message%newline" />
			</layout>
		</appender>

		<logger name="default">
			<level value="ALL" />
			<appender-ref ref="defaultAppender" />
		</logger>
	</log4net>
</configuration>