<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="connection.server" value="192.168.1.5" />
    <add key="connection.dbname" value="bloocrutest" />
    <add key="connection.user" value="build" />
    <add key="connection.password" value="buildpass" />
    <add key="ppamo.common.debug" value="false" />
    <add key="logger.config" value="C:\Ppamo\menu\svn\BlooCru\web\demo\service\Config\log4net.config" />
    <add key="database.scriptPath" value="C:\Ppamo\menu\svn\BlooCru\web\demo\service\Ppamo.BlooCru.WS.Data\MySQL\structure.sql" />
    <add key="database.logicPath" value="C:\Ppamo\menu\svn\BlooCru\web\demo\service\Ppamo.BlooCru.WS.Data\MySQL\logic.sql" />
    <add key="ppamo.common.dateParseFormat" value="d-M-yyyy H:m:s|yyyy-M-d H:m:s|H:m:s/yyyy-M-d|d-M-yyyy|M/d/yyyy |M/d/yyyy h:m:s tt" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>