<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="connection.server" value="localhost" />
    <add key="connection.dbname" value="bloocrutest" />
    <add key="connection.user" value="root" />
    <add key="connection.password" value="ppamocom00" />

    <add key="ppamo.common.debug" value="false" />
    <add key="logger.config" value="C:\Ppamo\menu\svn\BlooCru\web\demo\service\Config\log4net.config" />
    <add key="database.scriptPath" value="C:\Ppamo\menu\svn\BlooCru\web\demo\service\Ppamo.BlooCru.WS.Data\MySQL\structure.sql" />
  </appSettings>
</configuration>