<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="Page-Enter" content="blendTrans(Duration=0.2)">
<meta http-equiv="Page-Exit" content="blendTrans(Duration=0.2)">
<title>BlooCru - Dashboard</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="css/images/favicon.png">
<!-- Le styles -->
<link href="css/twitter/bootstrap.css" rel="stylesheet">
<link href="css/base.css" rel="stylesheet">
<link href="css/twitter/responsive.css" rel="stylesheet">
<link href="css/jquery-ui-1.8.23.custom.css" rel="stylesheet">
<script src="js/plugins/modernizr.custom.32549.js"></script>
<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
</head>
<body>
<div id="loading">
  <img src="img/ajax-loader.gif">
</div>
<div id="responsive_part">
    <div class="logo">
      <a href="index.html"></a>
    </div>
    <ul class="nav responsive">
      <li>
      <btn class="btn btn-la1rge btn-i1nfo responsive_menu icon_item" data-toggle="collapse" data-target="#sidebar">
       <i class="icon-reorder"></i>
      </btn>
      </li>
    </ul>
</div> <!-- Responsive part -->

<div id="sidebar" class="collapse">
   <div class="logo">
    <a href="index.html"></a>
  </div>
  <ul id="sidebar_menu" class="navbar nav nav-list sidebar_box">
    <li class="accordion-group active">
    <a class="dashboard" href="index.html"><img src="img/menu_icons/dashboard.png">Dashboard</a>
    </li>
    <li>
    <a class="widgets"data-parent="#sidebar_menu" href="Actividad.html">
    <img src="img/menu_icons/glyphicons_041_charts.png">Actividad</a>
    </li>
    <li>
    <a class="widgets"data-parent="#sidebar_menu" href="Personas.html">
    <img src="img/menu_icons/glyphicons_043_group.png">Personas</a>
    </li>
    <li>
    <a class="widgets"data-parent="#sidebar_menu" href="maps.html">
    <img src="img/menu_icons/maps.png">Explora</a>
    </li>
    <li>
    <a class="widgets"data-parent="#sidebar_menu" href="">
    <img src="img/menu_icons/glyphicons_038_airplane.png">Info Viaje</a>
    </li>
    <li>
    <a class="widgets"data-parent="#sidebar_menu" href="Participacion.html">
    <img src="img/menu_icons/glyphicons_194_circle_question_mark.png">Participación</a>
    </li>
    <li>
    <a class="widgets"data-parent="#sidebar_menu" href="">
    <img src="img/general/encuesta_negra26x26.png">Encuesta</a>
    </li>
  </ul>
  <!-- End sidebar_box -->
  
</div>
<div id="main">
  <div class="container">
    <div class="container_top">
      <div class="row-fluid ">
        <div class="top_bar_stats to_hide_tablet">
          <div class="stats">
            <span class="title">Usuarios en línea:</span> +19,77% <span class="bar_1"></span>
          </div>
          <div class="stats">
            <span class="title">Usuarios totales</span> +23,34% <span class="bar_2"></span>
          </div>
        </div>
        
   <div class="top_right">
    
    <ul class="nav nav_menu">
    
      <li class="dropdown">
      <a class="dropdown-toggle administrator" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
      <span class="icon"><img src="img/menu_top/profile-avatar.png"></span><span class="title">Administrador</span></a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        <li><a href="#"><i class=" icon-user"></i> Mi Perfil</a></li>
        <li><a href="#"><i class=" icon-cog"></i>Configuración</a></li>
        <li><a href="index2.html"><i class=" icon-unlock"></i>Cerrar Sesión</a></li>
        <li><a href="#"><i class=" icon-flag"></i>Ayuda</a></li>
      </ul>
      </li>
       <li class="dropdown">
      <a id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
      <span class="icon"><img src="img/menu_top/profile-messages.png"></span><span class="notifications">3</span>
      </a>
      <ul class="dropdown-menu messages" aria-labelledby="dLabel">
        <div class="container">
          <div class="heading">
            <span class="title"><i class="icon-comments"></i>Mensajes</span><span class="link"><a href="#">Enviar un nuevo mensaje</a></span>
          </div>
          <ul>
            <li>
            <a href="#">
            <div class="avatar">
              <img src="img/message_avatar1.png"/>
            </div>
            <div class="container">
              <span class="name">Javier Borje</span>
              <span class="message"><i class="icon-share-alt"></i>Me preguntaba si es posible... <br/></span>
              <span class="date">12 Feb</span>
            </div>
            </a>
            </li>
            <li>
            <a href="#">
            <div class="avatar">
              <img src="img/message_avatar2.png"/>
            </div>
            <div class="container">
              <span class="name">Valeria Martinez</span>
              <span class="message"><i class="icon-share-alt"></i>El tiempo de demora al entrar a...<br/></span>
              <span class="date">12 Feb</span>
            </div>
            </a>
            </li>
            <li>
            <a href="#">
            <div class="avatar">
              <img src="img/message_avatar3.png"/>
            </div>
            <div class="container">
              <span class="name">Cristian Martinez</span>
              <span class="message"><i class="icon-share-alt"></i>Podrían agregar a los tripulantes de LAN Peru?...<br/></span>
              <span class="date">11 Feb</span>
            </div>
            </a>
            </li>
          </ul>
          <div class="footer">
            <a class="see_all">Ver todos los mensajes <i class="icon-chevron-right"></i></a>
          </div>
        </div>
      </ul>
      </li>
    </ul>
  </div> <!-- End top-right -->

        <div class="span4">
         
        </div>
      </div>
    </div>
    <!-- End container_top -->
    <div id="container2">
      <div class="row-fluid">
        <ul class="row-fluid fluid general_statistics hidden-phone">
          <li class="box gradient span2">
          <a>
          <div class="icon">
            <img src="img/general/flipchart2.png">
            <img class="hover" src="img/general/flipchart.png">
          </div>
          <div class="heading">
             32% 
          </div>
          <div class="desc">
            <!-- Development -->
             Actividad
          </div>
          </a>
          </li>
          <li class="box gradient span2">
          <a>
          <div class="icon">
            <img src="img/general/personas_black.png">
            <img class="hover" src="img/general/personablue48x43.png">
          </div>
          <div class="heading">
             43% 
          </div>
          <div class="desc">
            <!-- Development -->
             Personas</br>
          </div>
          </a>
          </li>
          <li class="box gradient span2">
          <a>
          <div class="icon">
            <img src="img/general/mapa48x43.png">
            <img class="hover" src="img/general/mapablue4843.png">
          </div>
          <div class="heading">
            41%
          </div>
          <div class="desc">
            Explora
          </div>
          </a>
          </li>
          <li class="box gradient span2">
          <a>
          <div class="icon">
            <img src="img/general/airplane_icon.png">
            <img class="hover" src="img/general/aiplane2blue.png">
          </div>
          <div class="heading">
            2.927
          </div>
          <div class="desc">
            Info viaje
          </div>
          </a>
          </li>
          <li class="box gradient span2">
          <a>
          <div class="icon">
            <img src="img/general/qaicon48x43.png">
            <img class="hover" src="img/general/qablue48x43.png">
          </div>
          <div class="heading">
            14.029
          </div>
          <div class="desc">
			Participación
          </div>
          </a>
          </li>
           <li class="box gradient span2">
          <a>
          <div class="icon">
            <img src="img/general/encuesta_negra48x43.png">
            <img class="hover" src="img/general/encuesta_blue48x43.png">
          </div>
          <div class="heading">
            41%
          </div>
          <div class="desc">
            Encuesta
          </div>
          </a>
          </li>
        </ul>
      </div>
     
      <!-- End .row-fluid -->
      <div class="row-fluid">
        <div class="span8">
   <div class="row-fluid">
        <div class="box gradient">
          <div class="title">
            <div class="row-fluid">
              <div class="span6">
                <h4>
                <i class=" icon-bar-chart"></i><span>Resumen actvidad de usuarios</span>
                </h4>
              </div>
              <!-- End .span6 -->
              <div class="span6 to_hide right_offset">
                <div class="btn-toolbar">
                  <div class="options_arrow pull-right">
                    <div class="dropdown pull-right">
                      <a class="dropdown-toggle " id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
                      <i class=" icon-caret-down"></i>
                      </a>
                      <ul class="dropdown-menu " role="menu" aria-labelledby="dLabel">
                        <li><a href="#">Today</a></li>
                        <li><a href="#">Yesterday</a></li>
                        <li><a href="#">Last 7 Days</a></li>
                        <li><a href="#">Last 30 Days</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End .span6 -->
            </div>
            <!-- End .row-fluid -->
          </div>
          <!-- End .title -->
          <div class="content">
            <div id="placeholder" style="width:100%;height:350px;">
            </div>
          </div>
        </div>
        <!-- End .box -->
      </div>
          <!-- End .box -->
        </div>
        <!-- End .span8 -->
        <div class="span4">
          <div class="box gradient">
            <div class="title row-fluid fluid">
              <h4 class="span6">
              <i class="icon-eye-open"></i>
              <span>Participacón <span class="label label-success"><span class="icomoon-icon-arrow-up white"></span>+23,5%</span></span>
              </h4>
              <div class="btn-toolbar span6">
                <div class="options_arrow pull-right right_offset">
                  <div class="dropdown pull-right">
                    <a class="dropdown-toggle " id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
                    <i class=" icon-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu " role="menu" aria-labelledby="dLabel">
                      <li><a href="#">Today</a></li>
                      <li><a href="#">Yesterday</a></li>
                      <li><a href="#">Last 7 Days</a></li>
                      <li><a href="#">Last 30 Days</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- End .title -->
            <div class="content row-fluid">
              <div id="donut" class="graph" style="width:100%;height:300px;">
              </div>
            </div>
            <!-- End .content -->
          </div>
          <!-- End .box -->
        </div>
        <!-- End .span4 -->
      </div>
      <!-- End .row-fluid -->
      <div class="row-fluid">
        <div class="span8">
   
          <!-- End .box -->
        </div>
        <!-- End .span8 -->
        <div class="span4">

          <!-- End .box -->
        </div>
        <!-- End .span4 -->
      </div>
    </div>
    <!-- End #container -->
  </div>
  <div id="footer">
    <p>
      &copy; bloocru 2013
    </p>
    <span class="company_logo"><a href="http://www.pixelgrade.com"></a></span>
  </div>
</div>
</div>
<!-- /container -->
<!-- Le javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery.js"></script>
<script language="javascript" type="text/javascript" src="js/plugins/jquery.sparkline.min.js"></script>
<script src="js/plugins/excanvas.compiled.js"></script>
<script src="js/bootstrap-transition.js"></script>
<script src="js/bootstrap-alert.js"></script>
<script src="js/bootstrap-modal.js"></script>
<script src="js/bootstrap-dropdown.js"></script>
<script src="js/bootstrap-scrollspy.js"></script>
<script src="js/bootstrap-tab.js"></script>
<script src="js/bootstrap-tooltip.js"></script>
<script src="js/bootstrap-popover.js"></script>
<script src="js/bootstrap-button.js"></script>
<script src="js/bootstrap-collapse.js"></script>
<script src="js/bootstrap-carousel.js"></script>
<script src="js/bootstrap-typeahead.js"></script>
<script src="js/fileinput.jquery.js"></script>
<script src="js/jquery-ui-1.8.23.custom.min.js"></script>
<script src="js/jquery.touchdown.js"></script>
<script language="javascript" type="text/javascript" src="js/plugins/flot/jquery.flot.js"></script>
<script language="javascript" type="text/javascript" src="js/plugins/flot/jquery.flot.stack.js"></script>
<script language="javascript" type="text/javascript" src="js/plugins/flot/jquery.flot.pie.js"></script>
<script language="javascript" type="text/javascript" src="js/plugins/flot/jquery.flot.resize.js"></script>
<script language="javascript" type="text/javascript" src="js/plugins/jquery.peity.min.js"></script>
<script type="text/javascript" language="javascript" src="js/plugins/datatables/js/jquery.dataTables.js"></script>
<script language="javascript" type="text/javascript" src="js/plugins/full-calendar/fullcalendar.min.js"></script>


<script src="js/scripts.js"></script>
<script language="javascript" type="text/javascript" src="js/jnavigate.jquery.min.js"></script>
<script type='text/javascript'>
    $(window).load(function() {
     $('#loading').fadeOut();
    });
      $(document).ready(function() {
      $('body').css('display', 'none');
      $('body').fadeIn(500);


      $("#logo a, #sidebar_menu a:not(.accordion-toggle), a.ajx").click(function() {
      event.preventDefault();
      newLocation = this.href;
      $('body').fadeOut(500, newpage);
      });
      function newpage() {
      window.location = newLocation;
      }

    });
      $(document).ready(function() {
        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();
        var calendar = $('#calendar').fullCalendar({
          header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,agendaWeek,agendaDay'
          },
          selectable: true,
          selectHelper: true,
          select: function(start, end, allDay) {
            var title = prompt('Event Title:');
            if (title) {
              calendar.fullCalendar('renderEvent',
                {
                  title: title,
                  start: start,
                  end: end,
                  allDay: allDay
                },
                true // make the event "stick"
              );
            }
            calendar.fullCalendar('unselect');
          },
          editable: true,
          events: [
            {
              title: 'All Day Event',
              start: new Date(y, m, 1)
            },
            {
              title: 'Long Event',
              start: new Date(y, m, d+5),
              end: new Date(y, m, d+7)
            },
            {
              id: 999,
              title: 'Repeating Event',
              start: new Date(y, m, d-3, 16, 0),
              allDay: false
            },
            {
              id: 999,
              title: 'Repeating Event',
              start: new Date(y, m, d+4, 16, 0),
              allDay: false
            },
            {
              title: 'Meeting',
              start: new Date(y, m, d, 10, 30),
              allDay: false
            },
            {
              title: 'Lunch',
              start: new Date(y, m, d, 12, 0),
              end: new Date(y, m, d, 14, 0),
              allDay: false
            },
            {
              title: 'Birthday Party',
              start: new Date(y, m, d+1, 19, 0),
              end: new Date(y, m, d+1, 22, 30),
              allDay: false
            },
            {
              title: 'Click for PixelGrade',
              start: new Date(y, m, 28),
              end: new Date(y, m, 29),
              url: 'http://pixelgrade.com/'
            }
          ]
        });
      });
    </script>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      var dontSort = [];
                $('#datatable_example thead th').each( function () {
                    if ( $(this).hasClass( 'no_sort' )) {
                        dontSort.push( { "bSortable": false } );
                    } else {
                        dontSort.push( null );
                    }
      } );
      $('#datatable_example').dataTable( {
        "sDom": "<'row table_top_bar'<'row-fluid'>'<'to_hide_phone'>'f'<'>r>t<'row'>",
         "sDom": "<'row table_top_bar'<'row-fluid'<'to_hide_phone' f>>><'row'>",
        "aaSorting": [[ 4, "asc" ]],
        "bPaginate": false,
        "bJQueryUI": false,
        "aoColumns": dontSort
      } );
      $.extend( $.fn.dataTableExt.oStdClasses, {
        "s`": "dataTables_wrapper form-inline"
      } );
    } );
</script>

<script type="text/javascript">
    $(function () {
    
    var sin = []
    /*for (var i = 0; i < 14; i += 1) {
      sin.push([i, Math.random()*0.9]);
      cos.push([i, Math.random()*1.4]);
      tes.push([i, Math.random()*0.4]);
    }*/
    sin.push([0,3000]);
    sin.push([1,3250]);
    sin.push([2,2900]);
    sin.push([3,4000]);
    sin.push([4,4800]);
    sin.push([5,4600]);
    sin.push([6,4400]);
    sin.push([7,5000]);
    sin.push([8,6000]);
    sin.push([9,6500]);
    sin.push([10,5900]);
    sin.push([11,7000]);
    sin.push([12,6000]);
    sin.push([13,8000]);
    var plot = $.plot($("#placeholder"),
     [  { data: sin, label: "Usuarios activos", color:"#ef4723", shadowSize:0 }], {
       series: {
         lines: { show: true, fill:true },
         points: { show: true, fill:true },
       },
       grid: { hoverable: true, clickable: true, autoHighlight: false, borderWidth:0,  backgroundColor: { colors: ["#fff", "#fbfbfb"] } },
       yaxis: { min: 0.0, max: 10000 },
     });
    function showTooltip(x, y, contents) {
      $('<div id="tooltip">' + contents + '</div>').css( {
        position: 'absolute',
        display: 'none',
        top: y + 5,
        left: x + 5,
        border: '1px solid #ccc',
        padding: '2px 6px',
        'background-color': '#fff',
        opacity: 0.80
      }).appendTo("body").fadeIn(200);
    }
    var previousPoint = null;
    $("#placeholder").bind("plothover", function (event, pos, item) {
      $("#x").text(pos.x.toFixed(2));
      $("#y").text(pos.y.toFixed(2));
      if (item) {
        if (previousPoint != item.dataIndex) {
          previousPoint = item.dataIndex;
          $("#tooltip").remove();
          var x = item.datapoint[0].toFixed(2),
          y = item.datapoint[1].toFixed(2);
          showTooltip(item.pageX, item.pageY,
            item.series.label + " of " + x + " = " + y);
        }
      }
    });
  });
$(function () {
  var data = [];
  var series = Math.floor(Math.random()*5)+1;
  data[0] = { label: "Participa", data:60, color: "#cb4b4b" };
  data[1] = { label: "No participa", data:40, color: "#4da74d"};
  
  // DONUT
   $.plot($("#donut"), data,
    {
            series: {
            pie: { 
              show: true,
              innerRadius: 0.42,
              highlight: {
                opacity: 0.3
              },
              radius: 1,
              stroke: {
                color: '#fff',
                width: 4
              },
              startAngle: 0,
              combine: {
                          color: '#353535',
                          threshold: 0.05
              },
              label: {
                          show: true,
                          radius: 1,
                          formatter: function(label, series){
                              return '<div class="chart-label">'+label+'&nbsp;'+Math.round(series.percent)+'%</div>';
                          }
                      }
              },
              grow: { active: false}
              },
              legend:{show:true},
              grid: {
                      hoverable: true,
                      clickable: true
              },
    });
});
</script>
</body>
</html>